@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);

.schedule-form {
    margin-top: 30px;
}

.schedule-form .input-block {
    background-color: color: rgba(202, 240, 248, 1);
    border: solid 1px #0077B6;
    width: 100%;
    height: 40px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.schedule-form .input-block.focus {
    background-color: #fff;
    border: solid 1px #0077B6;
}

.schedule-form .input-block.textarea {
    height: auto;
}

.schedule-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}

.schedule-form .input-block label {
    padding: 0 10px;
    background: #fff;
    position: absolute;
    left: 8px;
    top: 20px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #999;
    font-size: 18px;
    line-height: 10px;
}

.schedule-form .input-block .form-control {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-size: 18px;
    height: 40px;
    padding: 0;
    position: relative;
    top: -20px;
    z-index: 2;
}

.schedule-form .input-block .form-control:focus label {
    top: 0;
}

/* send button at the bottom */
.schedule-form .square-button {
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #03045e), color-stop(20%, #0077b6), color-stop(40%, #00b4d8), color-stop(60%, #90e0ef), color-stop(80%, #caf0f8));
    background-image: -moz-linear-gradient(left, #03045e, #0077b6, #00b4d8, #90e0ef, #caf0f8);
    background-image: -webkit-linear-gradient(left, #03045e, #0077b6, #00b4d8, #90e0ef, #caf0f8);
    background-image: linear-gradient(to right, #03045e, #0077b6, #00b4d8, #90e0ef, #caf0f8);
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%;
}


@media (min-width: 768px) {
    .schedule-wrap {
        width: 60%;
        margin: auto;
    }
}

/*----page styles---*/
.schedule-wrap {
    padding: 15px;
}

.large-cta-section {
    background: #1e9fc4 linear-gradient(45deg, #3e3ed0, #1e9fc4 57%, #4fddd5) repeat scroll 0 0;
    box-shadow: 0 6px 12px -4px rgba(54, 56, 66, 0.25) inset;
    text-align: center;
    z-index: 1;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.medium-large-wrapper {
    padding-top: 50px;
}

.h2.large {
    display: inline-block;
    font-size: 5em;
    font-family: "Roboto", sans-serif;
}

.white {
    color: #fff;
}

.h2>.blue {
    color: #CAF0F8;
    font-weight: 600;
}


.cta-purple-email {
    left: 0;
    position: absolute;
    top: 5em;
    z-index: 0;
    transform: translate3d(0px, 0%, 0px);
}

.cta-blue-email {
    bottom: -45px;
    position: absolute;
    right: 15%;
    width: 15em;
    z-index: 0;
    transform: translate3d(86.875px, -8.6875%, 0px);
}

.cta-left-line {
    left: 0;
    opacity: 0.7;
    pointer-events: none;
    position: absolute;
    top: -38em;
    z-index: 0;
}


