@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);


/* css from homepage */

/* header/hero section  */
.large-cta-section {
   background: #4f000b linear-gradient(45deg, #720026, #4f000b 57%, #ce4257);
    box-shadow: 0 6px 12px -4px rgba(54, 56, 66, 0.25) inset;
    text-align: center;
    z-index: 1;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.medium-large-wrapper {
    padding-top: 50px;
}

.h2.large {
    display: inline-block;
    font-size: 5em;
    font-family: "Roboto", sans-serif;
}

.white {
    color: #fff;
}

.h2>.blue {
    color: #CAF0F8;
    font-weight: 600;
}

/* end of header/hero section */

h3 {
    color: palevioletred;
    text-align: center;
}

.results {
    text-align: center;
}

.studyStatus {
    text-align: center;
}
